### 1) Strings

In [6]:
name = "Tom Hanks"
print(name)
s = 'Playstation 5 has benn launched.'
print(s)
type(name)

Tom Hanks
Playstation 5 has benn launched.

str

### 2) Integer

In [7]:
x = 10
print(x)
type(x)

10

int

In [8]:
y = -56
print(y)
type(y)

-56

int

### 3) Float (decimal values)

In [9]:
a1 = 45.89
print(a1)
type(a1)

45.89

float

In [11]:
a2 = 7.0
print(a2)
type(a2)

7.0

float

### 4) Boolean - It holds only two values - True and False

In [12]:
r1 = True
print(r1)
type(r1)

True

bool

In [13]:
r2 = False
print(r2)
type(r2)

False

bool

### 5) Complex

In [14]:
s1 = 5 + 7j
print(s1)
type(s1)

(5+7j)

complex

### 6) List

In [15]:
d1 = [12,14,16,'Tesla','Ireland']
print(d1)
type(d1)

[12, 14, 16, 'Tesla', 'Ireland']

list

### 7) Tuple

In [16]:
d2 = ('India','Japan',89.45,23.90,False)
print(d2)
type(d2)

('India', 'Japan', 89.45, 23.9, False)

tuple

### 8) Set

In [17]:
s1 = {21,23,34,45,56,'YOLO','Mobile'}
print(s1)
type(s1)

{34, 45, 'Mobile', 21, 23, 56, 'YOLO'}

set

### 9) Dictionary

In [18]:
w1 = {'name':'Michael','age':26,'city':'Spain'}
print(w1)
type(w1)

{'name': 'Michael', 'age': 26, 'city': 'Spain'}

dict