### print() - 
It prints the object/arguments passed to the output device

In [4]:
print('Welcome to Python')
print("Code Bazinga rocks")

Welcome to Python
Code Bazinga rocks

In [3]:
name = "Chris Nolan"
print(name, "is the best director to ever exist")

Chris Nolan is the best director to ever exist

### Differnt print() formatting methods

### 1) f-formatting

In [5]:
name = "James"
age = 24
role = "Data Analyst"
print(f"{name} aged {age} wants to be a {role}")

James aged 24 wants to be a Data Analyst

In [6]:
print(f'{role} aged {name} wants to be a {age}')

Data Analyst aged James wants to be a 24

### 2) Normal usage of print()

In [7]:
footballer = "Messi"
score = 700
print(footballer, "has scored" ,score,"goals in his lifetime")

Messi has scored 700 goals in his lifetime

### 3) using format() function

In [10]:
pandemic = "Covid-19"
total = "9"
print("{} crosses {} lakh cases in India".format(pandemic,total))

Covid-19 crosses 9 lakh cases in India

In [13]:
name = "James"
age = 24
role = "Data Analyst"
print('{} aged {} wants to be a {}'.format(name,age,role))
print('{} aged {} wants to be a {}'.format(role,name,age))

James aged 24 wants to be a Data Analyst
Data Analyst aged James wants to be a 24

In [15]:
print('{1} aged {2} wants to be a {0}'.format(role,name,age))

James aged 24 wants to be a Data Analyst

In [16]:
print('{d} aged {r} wants to be a {q}'.format(q=role,d=name,r=age))

James aged 24 wants to be a Data Analyst

### Padding and Alignment using format function

In [22]:
# left aligned and right padding
print("{:<25}".format('Eminem is the GOAT'))
# right aligned and left padding
print("{:>25}".format('Messi is the GOAT'))
# central padding
print("{:^25}".format('Goku is GOAT'))
# use characters to replace white spacing
print("{:*^25}".format('Sherlock is GOAT'))

Eminem is the GOAT
        Messi is the GOAT
      Goku is GOAT
****Sherlock is GOAT*****

### 4) using %

In [26]:
print('%s %d'%('I love you',3000))
print('%s %.2f %s'%('Count on your belief', 90.7864 ,'times'))

I love you 3000
Count on your belief 90.79 times

### print() arguments

<b>1) end -</b> The arumnets passed to the end are printed at end.<br>
<b>2) sep -</b> The arumnets passed to the sep is used to separate two variables.

In [27]:
a = "Welcome to"
b = "Python"
print(a,b,end="**")

Welcome to Python**

In [28]:
print(a,b,sep="**")

Welcome to**Python

In [29]:
# sep won't work with single variable
print(a,sep="$$$$$")

Welcome to

In [31]:
print(a,end=" $$$$$")

Welcome to $$$$$

In [32]:
print(a,b,sep="----",end=":)")

Welcome to----Python:)